.header {
  width: 50px;
  height: 50px;
  background-color: green;
}

section {
  width: 300px;
  height: 200px;
  background-color: red;
}

.about-me {
  width: 300px;
  height: 100px;
  background-color: rgb(177, 69, 21, 0.5);
  margin: 10px;
  border: solid black 10px;
  border-radius: 15px;
}

#name {
  color: blue
}