body {
  display: flex;
  flex-direction: column;
}
header {
  width: 100px;
  height: 50px;
  background-color: green;
}

section {
  width: 300px;
  height: 100px;
  background-color: blue;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}

.about-me {
  width: 300px;
  height: 200px;
  background-color: rgb(177, 69, 21, 0.5);
  margin: 10px;
  border: solid black 10px;
  border-radius: 15px;
}

.avatar {
  width: 100px;
  border-radius: 50px;
}
#name {
  color: rgb(60, 0, 255);
}

.test {
  width: 30px;
  height: 30px;
  background-color: red;
  margin: 5px;
}
